<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Main_too_examine
        link(rel="icon" type="image/png" href="images/favicon.png")
        link(href="css/main.css" type="text/css" rel="stylesheet")
        script(src="javascript/math.min.js")
        script(src="javascript/calque.js")
        script.
            window.onload = function (){
                var input = document.querySelector('#input');
                var output = document.querySelector('#output');
                window.calque = new Calque(input, output);
                input.focus()
            }

body
header Front-end developer
main#tabs
    nav
        button.tab Plan
        button.tab Tools
        button.tab Type site
        button.tab Info
        button.tab HTML
        button.tab CSS
        button.tab JavaScript
        button.tab Glitch
    section.tabContent
        |
        h1 План разработки (реальный)
        p Разработка <span>SPA</span> по методологии 
            a(href="http://www.dpgrup.ru/methodology-rup.htm" target="_blank") RUP 
            | . 
        p Разметка <span>HTML</span> на шаблонизаторе 
            a(href="https://pugjs.org/api/getting-started.html" target="_blank") Pug 
            | .
        p Написание стилей <span>CSS</span> на препроцессоре 
            a(href="http://stylus-lang.com/" target="_blank") Stylus 
            | по системе 
            a(href="https://smacss.com/" target="_blank") SMACSS 
            | и 
            a(href="https://ru.bem.info/" target="_blank") BEM 
            | . 
        p Интерактивность на <span>JavaScript</span> 
            | по стандарту 
            a(href="" target="_blank") ES6 
            | . 

        br
        hr
        h1 План разработки (общий)
        p Разработка <span>SPA</span> или <span>RIA</span> по методологии 
            a(href="http://www.dpgrup.ru/methodology-rup.htm" target="_blank") RUP 
            | быстро. 
        p Создание схемы сайта 
            a(href="http://www.uml.org/" target="_blank") UML 
            | в <span>www.draw.io</span>.
        p Создание <span>UI</span> схемы (wireframes) в Axure & www.app.moqups.com.
        p Создание <span>UI</span> дизайна в GIMP, Inkscape, Blender ; в стиле - минимализм и типографика.
        p Разметка <span>HTML</span> на 
            a(href="https://pugjs.org/api/getting-started.html" target="_blank") Pug 
            | .
        p Добавление модулей <span>CSS</span> на 
            a(href="https://getuikit.com/" target="_blank") UiKit 
            | .
        p Написание стилей <span>CSS</span> на препроцессоре 
            a(href="http://stylus-lang.com/" target="_blank") Stylus 
            | по системе SMACSS и BEM.
        p Добавление интерактивности на 
            a(href="https://ru.vuejs.org/" target="_blank") Vue 
            | по методологии 
            a(href="https://vuex.vuejs.org/ru/intro.html" target="_blank") Vuex 
            | (или на фреймверке 
            a(href="https://ru.nuxtjs.org/" target="_blank")  Nuxt 
            |)
        p Подключение 
            a(href="https://babeljs.io/" target="_blank") Babel 
            | для интеграции 
            a(href="" target="_blank") ES6 
            | .
        p Написание логики на 
            a(href="https://www.python.org/" target="_blank") Python 
            | согласно 
            a(href="" target="_blank") OOP 
            | , 
            a(href="" target="_blank") SOLID 
            | , 
            a(href="" target="_blank") DRY 
            | , 
            a(href="" target="_blank") KISS 
            | , 
            a(href="" target="_blank") YAGNI 
            | по стандарту 
            a(href="" target="_blank") PEP-8 
            | или на фреймверке 
            a(href="https://djbook.ru/" target="_blank") Django 
            | .
        p Создание таблиц Баз данных на 
            a(href="https://sqlite.org/" target="_blank") SQLite 
            | по стандарту <span>PEP 249</span> на основе 
            a(href="http://www.sql-ex.ru" target="_blank") SQL 
            | .
        p Установка пакетов через 
            a(href="https://www.npmjs.com/" target="_blank") Npm 
            | и 
            a(href="https://pip.pypa.io/en/stable/" target="_blank") Pip 
            | при необходимости.
        p Сборка сайта с помощью 
            a(href="https://webpack.github.io/" target="_blank") Webpack 
            | конфигурирование <span>Json</span>.
        p Создания контроля версий 
            a(href="https://git-scm.com/" target="_blank") Git 
            | и работа с ним по методологии 
            a(href="https://danielkummer.github.io/git-flow-cheatsheet/index.ru_RU.html" target="_blank") Git flow 
            | .
        p Тестирование <span>HTML</span> С помощью validator.w3.org и <span>Javascript</span> с помощью 
            a(href="http://jshint.com/" target="_blank") Jshint 
            | .
        p Тестирование <span>SPA</span> с помощью 
            a(href="https://jasmine.github.io/" target="_blank") Jasmine 
            | & 
            a(href="https://karma-runner.github.io/1.0/index.html" target="_blank") Karma
            | .
        p Раскрутка <span>SPA</span> с помощью SEO.
    section.tabContent 
        h1 Технологии
        table
            tr
                td wireframes
                td Axure & www.app.moqups.com
            tr
                td UI графика
                td GIMP, Inkscape, Blender
            tr
                td UML
                td 	www.draw.io
            tr
                td Разметка
                td 
                    a(href="" tooltip='HyperText Markup Language — язык гипертекстовой разметки') HTML
            tr
                td Разметка
                td Markdown
            tr
                td Стили
                td 
                    a(href="" tooltip='Cascading Style Sheets — каскадные таблицы стилей') CSS
            tr
                td Шаблонизатор HTML
                td Pug
            tr
                td Фреймверк CSS
                td UiKit
            tr
                td Препроессор CSS
                td Stylus
            tr
                td Библиотека JS
                td Vue.js
            tr
                td Фреймверк Python
                td 	Django
            tr
                td Методология CSS
                td SMACSS + BEM
            tr
                td Методология Vue
                td Vuex
            tr
                td Методология Git
                td Git flow
            tr
                td Методология JS/Py
                td OOP
            tr
                td Методология JS/Py
                td SOLID
            tr
                td Методология JS/Py
                td DRY
            tr
                td Методология JS/Py
                td KISS
            tr
                td Методология JS/Py
                td YAGNI
            tr
                td Язык
                td Englis
            tr
                td Язык програмирования JS
                td JavaScript
            tr
                td Язык програмирования Py
                td Python
            tr
                td Пакетный менеджер JS
                td Npm
            tr
                td Пакетный менеджер Py
                td Pip
            tr
                td База данных
                td SQLite
            tr
                td База данных
                td MySQL
            tr
                td База данных
                td PostgreSQL
            tr
                td Сборщик проекта
                td Webpack
            tr
                td Система контроля версий
                td Git
            tr
                td Среда разработки
                td Visual Studio xmp
            tr
                td Среда разработки
                td DBeaver
            tr
                td Среда разработки
                td Firefox developer edition
            tr
                td Среда разработки
                td FAR
            tr
                td менеджер среды
                td Docker
            tr
                td интерпритатор JS
                td Babel
    section.tabContent
        h1 Типы сайтов
        ul
            li.li_name_cont Сайт визитка
               ul.ul_italic
                    li Landing Page
                    li Промо сайт
                    li Имиджевый сайт
                    li Персональный сайт
            li.li_name_cont Интернет магазин
            li.li_name_cont Корпоративный сайт
            li.li_name_cont Портал
                ul.ul_italic
                    li Блог
                    li Форум
                    li Социальная сеть
                    li Хостинг
            li.li_name_cont SPA
    section.tabContent
        h1 Дополнительно



        h4 Предоставление информации в HTML
            ul#block_id_1(style="display: none;")
                li Текст
                li Выпадающий список
                li Слайдер
                li Кнопка
                li Текстовое после
        button(onclick="showHide('block_id_1')").btn_show_hide show & hide 
        hr
        h4 Предоставление информации в CSS
            ul#block_id_2(style="display: none;")
                li STYLUS
                li переменные
                li вложенности
                li импорт
                li миксины
                li наследование
        button(onclick="showHide('block_id_2')").btn_show_hide show & hide 

        hr
        h4 Предоставление информации в Javascript
            ul#block_id_3(style="display: none;")
                li -
                li -
                li -
                li -
                li -
                li - 
        button(onclick="showHide('block_id_3')").btn_show_hide show & hide 
        hr
        h4 SMACSS
            ul#block_id_4(style="display: none;")
                li base
                li layout
                li modules
                li state
                li theme
        button(onclick="showHide('block_id_4')").btn_show_hide show & hide 
        hr
        h4 BEM
            ul#block_id_5(style="display: none;")
                li Блок
                li Элемент
                li Модификатор
                    ul
                        li булевый
                        li ключ-значение
                li Микс
                    ul
                        li совмещение однотипных сущ.
                        li повторное использование имеющихся сущ.
                li Файловая структура
                    ul
                        li имя-блока_имя-модификатора
                        li имя-блока_имя-модификатора_значение-модификатора
                        li имя-блока__имя-элемента
                        li имя-блока__имя-элемента_имя-модификатора
                        li имя-блока__имя-элемента_имя-модификатора_значение-модификатора
        button(onclick="showHide('block_id_5')").btn_show_hide show & hide 
        hr
        
        h4 USER STORY & USE CASE
            ul#block_id_6(style="display: none;")
                li USER STORY "что нужно сделать (пожелание)"
                    ul
                        li что
                        li зачем 
                        li для кого 
                li USE CASE "сортировка пожелания по группам"
                    ul
                        li GUI 
                        li процессы 
                        li дополнительно 
        button(onclick="showHide('block_id_6')").btn_show_hide show & hide 
        hr
        h4 ЖИЗНЕННЫЙ ЦИКЛ ПО
            ul#block_id_7(style="display: none;")
                li СODE AND FIX                "разработка по до валидации заказчика"
                li RUP                         "методология каскадная (Rational Unified Process)"
                    ul
                        li v-образная              "паралельное тестирование"
                            ul
                                li инкрементная модель "модульный выпуск"
                                li спиральная модель   "аналог каскадной в виде цикла (исключение риска)"
                        li XP                          "Extreme Programming (экстримальное программирование)"
                            ul
                                li Короткий цикл обратной связи
                                    ul 
                                        li разработка через тестирование
                                        li игра в планирование
                                        li заказчик всегда рядом
                                        li парное программирование
                                li Непрерывный, а не пакетный процесс
                                    ul
                                        li непрерывная интеграция
                                        li рефакторинг
                                        li частые небольшие релизы
                                li Понимание, разделяемое всеми
                                    ul
                                        li простота
                                        li метафора системы
                                        li коллективное владение кодом
                                        li стандарт кодирования
                                li Социальная защищённость программиста
                                    ul
                                        li 40-часовая рабочая неделя
                        li AGILE                     "методология итераций"
                            ul
                                li Scrum                 "проект на части и итерировать"
                                li Kanban                "точно в срок + доска со стикерами"
                        li ПРОТОТИПНАЯ
                            ul
                                li иследовательский      "уточнение требований к ПО (для UI)"
                                li экспериментальный     "проверка технологии"
                                li эволюционный          "простая версия продукта"
        button(onclick="showHide('block_id_7')").btn_show_hide show & hide 
        hr
        h4 АРХИТЕКТУРА ПО
            ul#block_id_8(style="display: none;")
                li MVC                       "модель-представление-контроллер"
                li MVP                       "модель-представление-презентатор"
                li MVVM                      "модель-представление-модель-представление"
                li BEM-методологии           "блок, элемент, модификатор"
                li SMACSS-методологии        "масштабируемая и модульная архитектура для CSS + namespace !!!"
                    ul
                        li основа                "стили по умолчанию для базовых селекторов"
                        li структура             "структура вёрстки, размеры элементов, их выравнивание"
                        li модуль                "элементы, из которых строится модуль"
                        li тема                  "визуальное представление элементов стандартно"
                        li состояние             "состояния элементов после применения модификаторов"
                li OOCSS-методологии         "объектно-ориентированный CSS"
                li MCSS-методологии          "многослойный CSS"
                li AMCSS-методологии         "модули атрибутов для CSS"
                li FUN-методологии           "плоская иерархия селекторов, служебные стили, компоненты с неймспейсами"
        button(onclick="showHide('block_id_8')").btn_show_hide show & hide 
        hr
        h4 ООП
            ul#block_id_9(style="display: none;")
                li Инкапсуляция
                li Наследование
                li Полиморфизм
                li Абстракция
                li Посылка сообщений
                li Повторное использование
        button(onclick="showHide('block_id_9')").btn_show_hide show & hide 
        hr
        h4 АЛГОРИТМ
            ul#block_id_10(style="display: none;")
                li Линейные                   "а.линейный"
                li Выбора                     "а.выбора"
                li Цикла                      "а.цикла"
        button(onclick="showHide('block_id_10')").btn_show_hide show & hide 
        hr
        h4 ПАТТЕРНЫ
            ul#block_id_11(style="display: none;")
                li GRASP "новые обобщенные"
                    ul
                        li Information expert     "информационный эксперт"
                        li Creator                "создатель"
                        li Controller             "контроллер"
                        li Low coupling           "слабое зацепление"
                        li High cohesion          "высокая степень связанности"
                        li Polymorphism           "полиморфизм"
                        li Pure fabrication       "чистая выдумка"
                        li Indirection            "посредник"
                        li Protected variations   "устойчивый к изменениям"
                li GOF
                    ul 
                        li Создание объектов      "механизм инициализации, создавать объекты удобным способом."
                            ul
                                li Singleton
                                li Factory Method
                                li Prototype
                                li Builder
                                li Abstract Factory
                        li Структурные            "отношения между классами и объектами (работать совместно)"
                            ul
                                li Adapter
                                li Facade
                                li Composite
                                li Decorator
                                li Proxy
                                li Bridge
                                li Flyweight
                        li Поведенческие          "упростить взаимодействие между сущностями."
                            ul
                                li Strategy
                                li Iterator
                                li Observer
                                li Memento
                                li Command
                                li Interpreter
                                li Mediator
                                li State
                                li Template method
                                li Visitor
                                li Chain of responsibility
                        li АКРОНИМ
                            ul
                                li KISS          "чем проще система тем надежнее"
                                li DRY           "не повторяй себя"
                                li SOLID
                                    ul
                                        li SRP       "принцип единственной обязанности (Single responsibility principle)"
                                        li OCP       "принцип открытости/закрытости (Open/closed principle)"
                                        li LSP       "принцип подстановки Барбары Лисков (Liskov substitution principle)"
                                        li ISP       "принцип разделения интерфейса (Interface segregation principle)"
                                        li DIP       "принцип инверсии зависимостей (Dependency inversion principle)"
        button(onclick="showHide('block_id_11')").btn_show_hide show & hide 
        hr
        h4 БЛОК СХЕМА
            ul#block_id_12(style="display: none;")
                table 
                    tr
                        td Терминатор 
                        td Овал
                        td (начало и конец алгоритма)
                    tr
                        td Процес
                        td Прямоугольник
                        td (обработка данных)
                    tr
                        td Данные
                        td Параллелепипед
                        td (отображает данные)
                    tr
                        td Предопределенный процес
                        td Прямоугольник с линиями
                        td (ссылка на код в другом месте)
                    tr
                        td Решение
                        td Ромб
                        td (выбор)
                    tr
                        td Цикл
                        td Восьмигранник
                        td (цикл)
                    tr
                        td Соединитель
                        td Круг
                        td (разделение блок схемы на части)
                    tr
                        td Коментарий
                        td Скоба + штрихпунктир
                        td (коментарий)
                    tr
                        td Паралельные действия
                        td паралельные линии
                        td (паралельное выполнение)
        button(onclick="showHide('block_id_12')").btn_show_hide show & hide 
        hr
        h4 UML
            ul#block_id_13(style="display: none;")
                li Структурные                  "элементы диаграммы"
                    ul
                        li классов
                        li компонентов
                        li композитной структуры
                        li кооперации
                        li развёртывания
                        li объектов
                        li пакетов
                        li профилей
                li Поведения                     "элементы диаграммы"
                    ul
                        li деятельности
                        li состояний
                        li вариантов использования
                li Взаимодействия                "элементы диаграммы"
                    ul 
                        li коммуникации
                        li обзора взаимодействия 
                        li последовательности
                        li синхронизации
                li Зависимость
                    ul
                        li агрегация    "линия + ромб (часть - целое) часть отдельно сущ. от целого"
                        li композиция   "линия + ромб закрашеный (часть - целое) часть не отдельно от целого"
                        li зависимость  "пунктир + стрелка (независимое влияет на зависимое)"
                        li обобщение    "линия + стрелка (отношение наследования или реализации интерфейса)"
        button(onclick="showHide('block_id_13')").btn_show_hide show & hide 
        hr
        h4 ПРОТОТИПЫ ПРОЕКТА
            ul#block_id_14(style="display: none;")
                li WIREFRAME        "каркас приложения"
                li PROTOTYPE        "минимум стилей"
                li MOCKUP           "для демонстрации"
        button(onclick="showHide('block_id_14')").btn_show_hide show & hide 

        br
        textarea ТЕСТИРОВАНИЕ
            |
            |+-- UNIT TEST
            |+-- ТЕСТИРОВАНИЕ
            |    +-- функциональное тестирование            "проверке всего описанного функционала"
            |    +-- тестирования Верстки
            |    +-- usability тестирование                 "оценка удобства продукта в использовании"
            |    +-- тестирование безопасности
            |    +-- тестирование производительности сайта  "определение быстродействия сайта"
    section.tabContent 
        h1 HTML / PUG
        div.tabContent_html
            p !DOCTYPE html
            p html lang="en"
            p --- head
            p --- meta charset="utf-8"
            p --- title Name_Site
            p --- meta(name="viewport" content="width=device-width, initial-scale=1"
            p --- meta(name="keywords" content="ключевое слово 1, ключевое слово 2"
            p --- meta(name="description" content="Описание контента.")
            p --- link(rel="icon" type="image/png" href="images/favicon-16x16.png")
            p --- link(rel="stylesheet" href="fonts/font-awesome/css/font-awesome.css")
            p --- link(href="css/main.css" type="text/css" rel="stylesheet")
            p --- script(type="text/javascript" src="js/main.js")
            p --- body
            hr
            table.tabContent_html_table
                tr
                    td.b header
                    td.i заглавие шапка
                tr
                    td.b nav
                    td.i навигация
                tr
                    td.b section
                    td.i секция
                tr
                    td.b article
                    td.i новости статьи
                tr
                    td.b main
                    td.i главный блок
                tr
                    td.b aside
                    td.i сайдбар боковая панель
                tr
                    td.b footer
                    td.i подвал
                tr
                    td.b figure
                    td.i групировка изображения и подписи к ним
                tr
                    td.b hgroup
                    td.i группирования заголовков веб-страницы
                tr
                    td.b span.name text
                    td.i с отдельным текстом "span"
                tr
                    td.b abbr(title="пояснение") АБР
                    td.i 
                        abbr(
                            title="пояснение"
                        ) АБР
                tr
                    td.b address text
                    td.i 
                        address text
                tr
                    td.b cite text
                    td.i 
                        cite text
                tr
                    td.b blockquote text
                    td.i 
                        blockquote text
                tr
                    td.b ins text
                    td.i
                        ins text
                tr
                    td.b p text
                    td.i 
                        p text
                tr
                    td.b b text
                    td.i 
                        b text
                tr
                    td.b strong text
                    td.i 
                        strong text
                tr
                    td.b i text
                    td.i 
                        i text
                tr
                    td.b u text
                    td.i 
                        u text
                tr
                    td.b s text
                    td.i
                        s text
                tr
                    td.b em text
                    td.i 
                        em text
                tr
                    td.b small text
                    td.i 
                        small text
                tr
                    td.b big text
                    td.i 
                        big text
                tr
                    td.b mark text
                    td.i 
                        mark text
                tr
                    td.b dialog open
                    td.i диалоговое окно
                tr
                    td.b p.anchorName1
                    td.i якорь
                tr
                    td.b section.page1
                    td.i секция
                tr
                    td.b div#name
                    td.i блок для одиночных классов
                tr
                    td.b div.name
                    td.i блок для нескольких классов
                tr
                    td.b a (href="www.site.com) link
                    td.i 
                        a(
                            href="www.site.com"
                        ) link
                tr
                    td.b a (href="image/xxx.jpg" download)>Скачать файл
                    td.i 
                        a(
                            href="image/xxx.jpg"
                            download
                        ) Скачать файл
                tr
                    td.b a (href="image/xxx.jpg") Открыть файл в браузере
                    td.i 
                        a(
                            href="image/xxx.jpg"
                        ) Открыть файл в браузере
                tr
                    td.b br
                    td.i перевод строки
                tr
                    td.b hr
                    td.i 
                        hr
                tr
                    td.b h1 text
                    td.i 
                        h1 text
                tr
                    td.b h2 text
                    td.i 
                        h2 text
                tr
                    td.b h3 text
                    td.i 
                        h3 text
                tr
                    td.b h4 text
                    td.i 
                        h4 text
                tr
                    td.b h5 text
                    td.i 
                        h5 text
                tr
                    td.b h6 text
                    td.i 
                        h6 text
                tr
                    td.b textarea (name="comment" cols="40" rows="3")
                    td.i 
                        textarea(
                            name="comment"
                            cols="40"
                            rows="3"
                        )
                tr
                    td.b input (type="text" size="40")
                    td.i 
                        input(
                            type="text"
                            size="40"
                        )
                tr
                    td.b input (type="radio" name="text" value="ie")
                    td.i 
                        input(
                            type="radio"
                            name="text"
                            value="ie"
                        )
                tr
                    td.b input (type="submit" value="Отправить")
                    td.i 
                        input(
                            type="submit"
                            value="Отправить"
                        )
                tr
                    td.b input (type="reset" value="Очистить")
                    td.i 
                        input(
                            type="reset"
                            value="Очистить"
                        )
                tr
                    td.b input (type="range" id="rtl" min="0" max="100" value="0" oninput="ch_rad()")
                    td.i 
                        input(
                            type="range"
                            id="rtl"
                            min="0"
                            max="100"
                            value="0"
                            oninput="ch_rad()"
                        )
                tr
                    td.b input (type="text" id="ttl" value="0")
                    td.i 
                        input(
                            type="text"
                            id="ttl"
                            value="0"
                        )
                tr
                    td.b 
                        textarea(name="comment" cols="60" rows="3")
                            |
                            |table(border="1" width="300" bgcolor="#a9a9a9") 
                            |   tr
                            |       td 1
                            |       td 2
                            |       td 3
                    td.i 
                        table(
                            border="1"
                            width="300"
                            bgcolor="#a9a9a9"
                        )
                            tr
                                td 1
                                td 2
                                td 3
                tr
                    td.b 
                        textarea(name="comment" cols="60" rows="3")
                            |
                            |form(action="/php/_page_test.php" method="get")
                            |   select(id="region"  name="region")
                            |       optionSelect Region
                            |       option(value="Africa") Africa
                            |       option(value="Americas") Americas
                            |       option(value="Antarctica") Antarctica
                            |       option(value="Asia") Asia
                    td.i 
                        form(action="/php/_page_test.php" method="get")
                            select(id="region"  name="region")
                                optionSelect Region
                                option(value="Africa") Africa
                                option(value="Americas") Americas
                                option(value="Antarctica") Antarctica
                                option(value="Asia") Asia
                tr
                    td.b 
                        textarea(name="comment" cols="60" rows="3")
                            |dl
                            |   dt Термин 1
                            |       dd Описание термина 1
                            |   dt Термин 2
                            |       dd Описание термина 2

                    td.i  
                        dl
                            dt Термин 1
                                dd Описание термина 1
                            dt Термин 2
                                dd Описание термина 2
                tr
                    td.b details openТекст
                    td.i 
                        details openТекст
                tr
                    td.b
                        textarea(name="comment" cols="60" rows="3")
                            |
                            |img(
                            |    src="http://place-hold.it/200x100"
                            |    alt=""
                            |)
                    td.i 
                        img(
                            src="http://place-hold.it/200x100"
                            alt=""
                        )
    section.tabContent 
        h1 CSS / stylus
        br
        table.tabContent_css_table
                tr
                    td.b #name1, #name2, #name3 { code }
                    td.i id
                tr
                    td.b .name1, .name2, .name3 { code }
                    td.i class
                tr
                    td.b #button1:hover, #button2:hover {  }
                    td.i при наведении курсора
                tr
                    td.b #button1:active, #button2:active {  }
                    td.i при нажатии курсора
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b @color-red #f44336
                    td.i 
                        div.color.color-red
                tr
                    td.b @color-pink #ff007e
                    td.i 
                        div.color.color-pink
                tr
                    td.b @color-purple #812991
                    td.i 
                        div.color.color-purple
                tr
                    td.b @color-turquoise #00AFFF
                    td.i 
                        div.color.color-turquoise
                tr
                    td.b @color-turquoise_1 #30D5C8
                    td.i 
                        div.color.color-turquoise_1
                tr
                    td.b @color-grey-light #edeef0
                    td.i 
                        div.color.color-grey-light
                tr
                    td.b @color-green #48A65B
                    td.i 
                        div.color.color-green
                tr
                    td.b @bg-light #3a3a3a
                    td.i 
                        div.color.color-bg-light
                tr
                    td.b @bg-dark #2b2b2b
                    td.i 
                        div.color.color-bg-dark
                tr
                    td.b @border-color #222222
                    td.i 
                        div.color.color-border-color
                    tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b 
                        dl
                            dt @font-face
                                dd font-family 'OpenSans-Regular'
                                dd src url('../fonts/Open_Sans/OpenSans-Regular.ttf')
                    td.i @font-face
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b height 0px
                    td.i высота в пикселях
                tr
                    td.b height 0vh
                    td.i высота по области просмотра
                tr
                    td.b height 0%
                    td.i высота в процентах
                tr
                    td.b width 0px
                    td.i ширина в пикселях
                tr
                    td.b width 0vw
                    td.i ширина по облости просмотра
                tr
                    td.b width 0%
                    td.i ширина в процентах
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b resize none
                    td.i отмена изменения размера textarea
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b position absolute
                    td.i абсолютное позиционирование
                tr
                    td.b position relative
                    td.i относительное позиционирование
                tr
                    td.b position fixed
                    td.i фиксированное положение элемента при прокрутке стр
                tr
                    td.b position static
                    td.i наследует своиства род
                tr
                    td.b position inherit
                    td.i 
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b top calc(0% - 0px)
                    td.i выравнивание по высоте (200-половина блока)
                tr
                    td.b top 0px
                    td.i расположение элемента от верха в пикселях
                tr
                    td.b top 0%
                    td.i расположение элемента от верха в процентах
                tr
                    td.b left calc(50% - 0px)
                    td.i выравнивание по ширине (200-половина блока)
                tr
                    td.b left 0px
                    td.i расположение элемента слева в пикселях
                tr
                    td.b left 0%
                    td.i расположение элемента слева в процентах
                tr
                    td.b bottom 0px
                    td.i растояние снизу в пикселях
                tr
                    td.b bottom 0%
                    td.i растояние снизу в процентах
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b z-index 0
                    td.i отметка элемента по высоте плана
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b float right
                    td.i обтекание по правому краю
                tr
                    td.b float left
                    td.i обтекание по левому краю
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b clear both
                    td.i отмена обтекание блока по указаному краю
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b margin 0 auto
                    td.i выровнять по центру горизонтально
                tr
                    td.b margin 0px
                    td.i отступ вокруг элемента в пикселях
                tr
                    td.b margin 20%
                    td.i отступы вокруг элемента в процентах
                tr
                    td.b margin-left 0px
                    td.i отступ слева
                tr
                    td.b margin-right 0px
                    td.i отступ справа
                tr
                    td.b margin-top 0px
                    td.i отступ сверху
                tr
                    td.b margin-bottom 0px
                    td.i отступ снизу
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b padding 0px
                    td.i поля вокруг текста
                tr
                    td.b padding-left 0px
                    td.i поле слева
                tr
                    td.b padding-right 0px
                    td.i поле справа
                tr
                    td.b padding  30px 15px
                    td.i верх-низ и право-лево
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b display table
                    td.i для выравнивания по центру
                tr
                    td.b display none
                    td.i прячем от показа
                tr
                    td.b display block
                    td.i показать блок
                tr
                    td.b display inline
                    td.i выровнять вдоль гориз. линии
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b background-color #282828
                    td.i цвет фона
                tr
                    td.b background rgba(0, 0, 0, 0.5)
                    td.i фон полупрозрачный
                tr
                    td.b background none
                    td.i без фона
                tr
                    td.b background url(../images/2.jpg) no-repeat fixed
                    td.i repeat-x фиксир
                tr
                    td.b background-size cover
                    td.i фон занимает всю доступную площадь
                tr
                    td.b background -webkit-linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0))
                    td.i 
                tr
                    td.b background -o-linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0))
                    td.i 
                tr
                    td.b background linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0))
                    td.i 
                tr
                    td.b background-position 50% 50%
                    td.i 
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b border 1px solid #C0C0C0
                    td.i рамка, толщина, линия, цвет
                tr
                    td.b border 1px solid red
                    td.i рамка, толщина, линия, цвет
                tr
                    td.b border 1px solid transparent
                    td.i с прозрачной рамкой
                tr
                    td.b border-top 0px solid white
                    td.i рамка сверху белая
                tr
                    td.b border-bottom 0px solid white
                    td.i рамка снизу белая
                tr
                    td.b border-left 0px solid white
                    td.i рамка слева белая
                tr
                    td.b border-right 0px solid white
                    td.i рамка справа белая
                tr
                    td.b border none
                    td.i без рамки
                tr
                    td.b border-radius 0px
                    td.i скругления углов рамки, радиус рамки
                tr
                    td.b border none
                    td.i Линия не отображается и значение ее толщины обнуляется
                tr
                    td.b border dotted
                    td.i линия состоящая из набора точек
                tr
                    td.b border dashed
                    td.i пунктирная линия, состоящая из серии коротких отрезков
                tr
                    td.b border solid
                    td.i сплошная линия
                tr
                    td.b border double
                    td.i двойная линия
                tr
                    td.b border groove
                    td.i создает эффект вдавленной линии
                tr
                    td.b border ridge
                    td.i создает эффект рельефной линии
                tr
                    td.b border inset
                    td.i псевдотрехмерная линия
                tr
                    td.b border outset
                    td.i псевдотрехмерная линия
                tr
                    td.b border inherit
                    td.i наследует значение родителя
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b outline: none;
                    td.i для textarea
                tr
                    td.b 
                        dl
                            dt -webkit-clip-path: polygon(0 20px,
                                dd  20px 0, 
                                dd 100px 0,
                                dd 120px 20px,
                                dd 600px 20px,
                                dd 600px 300px,
                                dd 0 300px);

                    td.i 
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b box-shadow: none;
                    td.i убрать тень
                tr
                    td.b box-shadow: 0 0 30px rgba(0,0,0,0.8);
                    td.i тень блока
                tr
                    td.b box-shadow: 0 0 60px rgba(0, 0, 0, .8) inset;
                    td.i внутренняя тень блока
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
                    td.i тень текста
                tr
                    td.b text-shadow: -1px -1px #000,   0 1px 0 #444;
                    td.i 
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b opacity: 0.5;
                    td.i Полупрозрачность элемента от 0 до 1
                tr
                    td.b color: #00BFFF;
                    td.i цвет текста
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b font-family: 'OpenSans-Light', sans-serif;
                    td.i шрифт
                tr
                    td.b font-family:  'SourcexmpPro-Regular';
                    td.i шрифт
                tr
                    td.b font-size: 0%;
                    td.i размер шрифта в процентах
                tr
                    td.b font-size: 11pt;
                    td.i размер шрифта в пунктах
                tr
                    td.b font-size: 16px;
                    td.i размер шрифта в пикселях
                tr
                    td.b font-style: italic;
                    td.i стиль текста (курсив)
                tr
                    td.b font-style: bold;
                    td.i стиль текста (жирный)
                tr
                    td.b font-weight: 600;
                    td.i 
                tr
                    td.b font-weight: bold;
                    td.i 
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b text-align: center;
                    td.i выравнивание текста по центру
                tr
                    td.b text-align: left;
                    td.i выравнивание текста слева
                tr
                    td.b text-align: right;
                    td.i выравнивание текста справа
                tr
                    td.b text-decoration: none;
                    td.i убирать подчёркивание у ссылок
                tr
                    td.b text-decoration: underline;
                    td.i подчеркивание текста
                tr
                    td.b text-decoration-color: blue;
                    td.i цвет подчеркивания синим цветом
                tr
                    td.b text-decoration-style: dashed;
                    td.i тип линии подчеркивания
                tr
                    td.b text-transform: uppercase;
                    td.i текст большими буквами
                tr
                    td.b text-indent: 20px;
                    td.i Отступ первой строки в пикселах
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b column-count: 3;
                    td.i текст в три колонки
                tr
                    td.b column-rule: 1px dashed grey;
                    td.i вертикальные линии между колонками
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b line-height: 0px;
                    td.i межстрочный интервал по центру = выс блока
                tr
                    td.b letter-spacing: 9px;
                    td.i межбуквенный интервал
                tr
                    td.b user-select: none;
                    td.i убирать выделение текста
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b list-style-type: circle;
                    td.i круг
                tr
                    td.b list-style-type: disc;
                    td.i точка
                tr
                    td.b list-style-type: square;
                    td.i квадрат
                tr
                    td.b list-style-type: decimal;
                    td.i арабскими числами
                tr
                    td.b list-style-type: upper-alpha;
                    td.i заглавные латинские
                tr
                    td.b list-style-type: upper-roman;
                    td.i римскими числами
                tr
                    td.b list-style-type: none;
                    td.i отмена маркера
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b cursor: pointer;
                    td.i курсор указатель
                tr
                    td.b cursor: move;
                    td.i курсор перемещение
                tr
                    td.b cursor: col-resize;
                    td.i курсор горизонтальное смещение размера границы
                tr
                    td.b cursor: row-resize;
                    td.i курсор вертикальное смещение размера границы
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b overflow: hidden;
                    td.i сокрытие полосы прокрутки
                tr
                    td.b overflow-x: hidden;
                    td.i cокрытие горизонтальной полосы
                tr
                    td.b overflow-y: hidden;
                    td.i cокрытие вертикальной полосы
                tr
                    td.b overflow: scroll;
                    td.i добавляем полосы прокрутки
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b perspective: 800px;
                    td.i установка перспективы
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b transform-style: preserve-3d;
                    td.i 
                tr
                    td.b transform: rotate3D(1, 1, 1, 0deg);
                    td.i 
                tr
                    td.b transform: rotateX(0deg);
                    td.i вращение относительно коор. Х
                tr
                    td.b transform: rotateY(0deg);
                    td.i вращение относительно коор. Y
                tr
                    td.b transform: rotateZ(0deg);
                    td.i вращение относительно коор. Z
                tr
                    td.b transform: translateX(0px);
                    td.i перемещение по оси Х
                tr
                    td.b transform: translateY(0px);
                    td.i перемещение по оси Y
                tr
                    td.b transform: translateZ(0px);
                    td.i перемещение по оси Z
                tr
                    td.b transform: scale3d(4, 4, 1);
                    td.i масштабирование
                tr
                    td.b transform: scale(1.2, 1.2);
                    td.i 
                tr
                    td.b transform: rotateX(70deg) scale3d(4, 4, 1) translateZ(-750px) translateY(-500px) translateX(-50px);
                    td.i 
                tr
                    td.b transform-origin: x y z;
                    td.i 
                tr
                    td.b transform-origin: 100px 100px 100px;
                    td.i 
                tr
                    td.b transform-origin: 100% 100% 100%;
                    td.i 
                tr
                    td.b transform-origin: 100% 0 -50px;
                    td.i 
                tr
                    td.b transition: 1.5s linear;
                    td.i нормально нормально нормально
                tr
                    td.b transition: 1.5s ease-in-out;
                    td.i медленно нормально медленно
                tr
                    td.b transition: 1.5s ease;
                    td.i медленно быстро медленно
                tr
                    td.b transition: all 1s;
                    td.i 
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b 
                        dl
                            dt .anim {
                                dd animation-timing-function: linear;
                                dd animation-iteration-count: infinite; 
                                dd animation-duration: 5s; 
                                dd animation-name: anim; 
                                dd }
                    td.i 
                        ul 
                            li ровная анимация
                            li количество повторов анимации
                            li время цикла анимации
                            li наименование анимации
                tr
                    td.b 
                        dl
                            dt @-webkit-keyframes anim {
                                dd 0% {-webkit-transform: rotateZ(0deg);}
                                dd 100% {-webkit-transform: rotateZ(-360deg);}
                                dd }
                    td.i 
                        ul 
                            li анимировать с ...
                            li анимировать по ...
                tr
                    td.b 
                        hr
                    td.i 
                        hr
                tr
                    td.b flex: 0 0 auto;
                    td.i выравнивание по центру
    section.tabContent 
        h1 JavaScript 
            small //всё в джаваскрипт являеться объектами
        br
        table.tabContent_js_table
                tr
                    td.b 
                        dl
                            dt ПРОСТОЙ ТИП
                                dd Число
                                dd Строка
                                dd Логический
                                dd Ничего
                                dd Неопределено
                    td.i 
                        ul
                            li integer
                            li string
                            li boolean
                            li null
                            li undefined
                tr
                    td.b 
                        dl
                            dt ОБЪЕКТЫ
                                dd Объект
                                dd Массив
                                dd Регулярное выражение
                                dd Функция
                                    dl
                                        dt
                                            dd стандартная
                                            dd анонимная
                                            dd самовызывающаяся
                                            dd конструктор
                                                dl
                                                    dt
                                                        dd обвёртки
                                                        dd Number("555");
                                                        dd String(555);
                                                        dd Boolean(1);
                    td.i 
                        ul 
                            li var car = {model: "Dodg", speed: 250, color: 'green'};
                            li var arr = [1, 2, 3];
                            li var regexp = /w+/g;
                            li --/--
                            li function nameFun(){};
                            li var i = function(){};
                            li ;(function(){}());
                            li для создания новых обьектов
                            li var N = new Number(4000);  //из числа делаем объект
                            li конструктор для перевода в числа
                            li конструктор для перевода в строку
                            li конструктор для перевода в буленовский тип данных
                tr
                    td.b 
                        dl
                            dt МЕТОД (оператор)
                                dd арифметический
                                    dl
                                        dt 
                                            dd унарный
                                                dl 
                                                    dt
                                                        dd инкремент и декремент
                                                            dl
                                                                dt
                                                                    dd префексный и постфиксный
                                            dd бинарный 
                                            dd присваивание с операцией
                                            dd отношения
                                dd логический 
                                    dl
                                        dt
                                            dd && 
                                                dl
                                                    dt 
                                                        dd true && true
                                                        dd false && false
                                            dd ||
                                                dl 
                                                    dt
                                                        dd true || false
                                                        dd false || true
                                                        dd example
                                            dd !
                                                dl 
                                                    dt 
                                                        dd !true
                                                        dd !false
                                dd Тернарный ? :
                                dd Ветвления if else
                                dd Перечисления switch case

                    td.i 
                        ul 
                            li 
                            li + - / * %
                            li -1
                            li 
                            li i++ & i--; ++i & i--;
                            li 1 + 1;
                            li i += 1;
                            li < > <= >= ===
                            li
                            li first===true & second===true ? =true : =false;
                            li true
                            li false
                            li first===true ? =first : =second
                            li =true
                            li =true
                            li var example = ifTrue || "string";
                            li true->false & false->true
                            li false
                            li true
                            li var text = 5>10 ? "x больше" : "x меньше";
                            li if(){}else{};
                            li switch(выражение){case выражение: инструкция case выражение: инструкция default: инструкция};
                            
                tr
                    td.b 
                        dl
                            dt ЦИКЛ
                                dd for
                    td.i 
                        ul 
                            li for(var i=0; i<10; i++){console.log(i);};
                tr
                    td.b 
                        dl
                            dt ПРИМЕР
                                dd var name_var = document.querySelector('#name_node');
                                    dl 
                                        dt name_var.onclick = function(){
                                            dd name_var.innerHTML = "<b>qwert</b>";
                                            dd name_var.style.color = "green";
                                            dd name_var.style.display='none';
                                            dd name_var.classList.toggle("add_class");
                                            dd };
                    td.i
                        ul
                            li 
                            li 
                            li выбрать элемент DOM и присвоить text
                            li на элемент навешиваем обработчик и функцмю
                            li вставить текст (c тегами html) в элемент
                            li изменить цвет текста
                            li name_var присвоить "скрыть"
                            li присвоение класса с определенными своиствами
                            li 
                tr
                    td.b 
                        dl
                            dt ФУНКЦИЯ
                                dd function test(name) {
                                    dl 
                                        dt 
                                            dd return "Hello " + name;
                                            dd };
                                dd console.log(test("Aleksej"));

                    td.i
                        ul
                            li 
                            li создание функции с параметром name
                            li 
                            li 
                            li 
                tr
                    td.b 
                        dl
                            dt стрелочная функция
                                dd var fun = (x, y) => x + y;
                                dd console.log(fun(25));

                    td.i
                        ul
                            li 
                            li 
                            li 50
                tr
                    td.b 
                        dl
                            dt оператор выбора
                                dd var name_var_chbox = document.querySelector('input');
                                dd if (name_var_chbox.checked) {
                                    dl
                                        dt 
                                            dd name_var.style.display='none';
                                dd }
                                dd else {
                                    dl 
                                        dt 
                                            dd name_var.style.display='block';
                                dd };

                    td.i
                        ul
                            li 
                            li 
                            li 
                            li если чекс бокс выбран;
                            li то name_var присвоить "скрыть";
                            li 
                            li иначе;
                            li name_var присвоить "показать";
                            li 
                tr
                    td.b 
                        dl
                            dt ПРОСТЫЕ ТИПЫ
                                dd var num   = 10;
                                dd var str   = "string";
                                dd var bool  = true;
                                dd var nan   = null;
                                dd var undef = undefined;
                                dd var NaN
                                dd var Infinity
                    td.i
                        ul
                            li 
                            li число
                            li строка
                            li логический
                            li ничего
                            li неопределено
                            li глобальные переменные
                            li глобальные переменные
                tr
                    td.b 
                        dl
                            dt ОБЪЕКТ
                                dd var car = {
                                    dl
                                        dt 
                                            dd model: "Dodg",
                                            dd speed: 250,
                                            dd color: 'green'
                                dd };
                    td.i
                        ul
                            li 
                            li console.log(car.model);
                            li 
                            li 
                            li 
                            li 
                tr
                    td.b 
                        dl
                            dt НАСЛЕДОВАНИЕ ОБЬЕКТА
                                dd var protoMan = {name: "pronoMan", color: "red"};
                                dd var man = {name: "Man"};
                                    dl
                                        dt 
                                            dd man.__proto__ = protoMan;
                                dd console.log(man.color);
                    td.i
                        ul
                            li 
                            li 
                            li 
                            li 
                            li 
                tr
                    td.b 
                        dl
                            dt МЕТОДЫ
                                dd typeof
                                dd parseInt()
                                dd parseFloat()
                                dd toString()
                                dd toFixed()
                                dd length
                                dd charAt()
                                dd str[]
                                dd substring()
                                dd substr()
                                dd indexOf()
                                dd lastIndexOf()
                                dd replace()
                                dd slice()
                                dd split()
                                dd toUpperCase()
                                dd toLowerCase()
                                dd Math.sqrt()
                                dd Math.pow()
                                dd Math.PI
                                dd Math.E
                                dd toPrecision()
                                dd console.log()
                                dd document.write()
                                dd window.open()

                    td.i
                        ul
                            li 
                            li показать что за тип   (typeof 10;)
                            li преобразование строки в число, второй параметр система счисления 10-я   (parseInt("45",10);)
                            li тоже самое для флоат   (parseFloat("45.5");)
                            li преобразование в строку   (55 .toString();)
                            li количество знаков после запятой
                            li длина строки   (str.length )
                            li символ с порядковым номером 0   (str.charAt(0))
                            li строка как массив = символ под номером 5   (str[5])
                            li подстрока с 5 по 10 символ   (str.substring(5,10))
                            li выделяет с пятого символа и на 3 сим вперед   (str.substr(5, 3))
                            li порядковый номер первой буквы подстроки в строке   (str.indexOf("text"))
                            li порядковый номер подстроки в строке с конца   (str.lastIndexOf("text"))
                            li замещение тескта   (str.replace("oldText","newText"))
                            li убирает первые 10 символов в строке   (str.slice(10))
                            li разделитель пробел = массив   (str.split(" "))
                            li привеедние к верхнему регистру   (str.toUpperCase())
                            li приведение к нижнему регистру   (str.toLowerCase())
                            li корень числа
                            li возведение в степень (3,5) = 243
                            li число пи
                            li экспонента
                            li вывод с определнной точностью
                            li вывод в консоль (.log .warn .err)
                            li вывести на страницу
                            li открыть новое окно в браузере
                tr
                    td.b 
                        dl
                            dt ПРИМЕР
                                dd if (условие1 && условие2) {
                                    dl
                                        dt 
                                            dd // code
                                dd }
                    td.i
                        ul
                            li 
                            li 
                            li 
                            li 
                tr
                    td.b 
                        dl
                            dt ПРИМЕР 1
                                dd var a = 6;
                                dd if (a > 0 && a < 10 && a % 2 == 0) {
                                    dl
                                        dt 
                                            dd console.log('Значение а чётное, больше нуля и меньше десяти');
                                dd }
                    td.i
                        ul
                            li 
                            li 
                            li 
                            li сработает
                            li 
    section.tabContent 
        h1 GLITCH
        div.glitch(data-text="GLITCH") GLITCH
        hr
        h1 3d
        hr
        div.category_wrp.elementanmTop
            div#nature
                div#nature_c
                    span.s1 NATURE
                div#nature_l
                    span.s1 NATURE
                div#nature_t
                    span.s1 NATURE
                div#nature_r
                    span.s1 NATURE
                div#but_nature_1(onclick="rot_box_nature_1();") Click 1
                div#but_nature_2(onclick="rot_box_nature_2();") Click 2
                div#but_nature_3(onclick="rot_box_nature_3();") Click 3
                div#but_nature_4(onclick="rot_box_nature_4();") Click 4

        h1 terminal
        div#button_terminal(onclick="Console_On_Off('terminal')") CONSOLE
        div#terminal
            div#output.output
            textarea#input.input(placeholder="Enter the commands :")


    a(href="#" title="Вернуться к началу" class="topbutton") Наверх
footer 
    p.p_footer pug -w index.pug & stylus -w main.styl

    
    script(src="javascript/main.js")
    
    
    